
#$MTIMFH
#$VERSION:1.20
#$TITLE:buttons1
#$DATE:Mon Sep 23 03:43:05 1996
#$GIF:buttons1.gif
#$FORMAT:ncsa
#$EOH
default http://www.stpt.com
rect /cgi-bin/business/business.cgi 0,0, 80,65
rect /cgi-bin/comput/comput.cgi 80,0, 160,65
rect /cgi-bin/educate/educate.cgi 160,0, 240,65
rect /cgi-bin/entrtain/entrtain.cgi 240,0, 320,65
rect /cgi-bin/invest/invest.cgi 320,0, 400,65
rect /cgi-bin/magazine/magzine.cgi 400,0, 480,65